<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show_products</title>
</head>
<body>
<h1>Show Products</h1>
{% for product in products %}

<img src="{{product.icon.url}}" width="75"/>
<a href="{{product.pk}}"> <h1>Product Title : {{product.title}}</h1></a>
<img src="{{product.image.url}}" width="400"/>
<h3>Publish date : {{product.pub_date}}</h3>
<h3>Author : {{product.hunter}}</h3>
<h3>Url : {{product.url}}</h3>
<h3>Likes :{{product.votes_total}}</h3>
<h3>Description : {{product.body}}</h3>

{% endfor %}
</body>
</html>